@import url('../vendor/bootswatch-dist/css/bootstrap.min.css');
@import url('../vendor/jquery-ui/themes/cupertino/jquery-ui.min.css');
@import url('../vendor/toastr/toastr.min.css');
@import url('../vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css');

.painel-login {
    background: -webkit-linear-gradient(90deg, #185a9d 10%, #43cea2 120%);
    background: -moz-linear-gradient(90deg, #185a9d 10%, #43cea2 120%);
    background: -ms-linear-gradient(90deg, #185a9d 10%, #43cea2 120%);
    background: -o-linear-gradient(90deg, #185a9d 10%, #43cea2 120%);
    background: linear-gradient(90deg, #185a9d 10%, #43cea2 120%);
}

.painel-login .login {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    margin: 100px auto 0;
    float: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.painel-login .input-group {
    margin-bottom: 5px;
}

.painel-login h3 {
    margin: 0 0 30px;
}

.painel-login h3 small {
    display: block;
    margin-top: 10px;
}

@media(max-width: 768px) {
    .painel-login .login {
        margin-top: 30px;
    }
}

td {
    vertical-align: middle !important;
}

.cke {
    border: 2px solid #dce4ec !important;
    border-radius: 4px;
    transition: border .3s !important;
}

.cke_editable {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
}

.cke_focus {
    border-color: #2c3e50 !important;
}

.multiselect {
    text-align: left !important;
}
