header
    border-top 20px solid $roxo
    position relative
    padding-top 15px
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 12px
        background $laranja
    &:after
        content ''
        position absolute
        top 12px
        left 0
        width 100%
        height 3px
        background #fff
    .topo
        width 100%
        display block
        padding 25px 0 40px
        border-bottom 2px solid $rosa
        img
            max-width 100%
        +mobile()
            padding 10px 0 14px
    nav
        width 100%
        margin 0
        text-align center
        padding 12px 0 45px
        font-size 0
        a
            ubuntu 18 bold italic
            color $rosa
            transition color .3s
            text-decoration none
            &:hover
            &.active
                color $roxo !important
            &:after
                content "\00b7"
                margin 0 10px
                color $rosa !important
            &:last-child:after
                display none
            +tablet()
                font-size 17px
        +mobile()
            padding 12px 0 30px
            a
                display block
                ubuntu 16 bold italic
                padding 2px 0
                &:after
                    display none
    &.home
        .topo
            border-color #fff
        nav
            a
                color #fff
                &:after
                    color #fff !important

.main
    padding-bottom 25px
    +below($tablet)
        padding-bottom 5%

.not-found
    text-align center
    margin-top 40px
    h1
        display inline-block
        padding 14px 18px
        border 2px solid $roxo
        color $roxo
        ubuntu 14 bold
        text-transform uppercase
