desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$laranja = #FF6501
$roxo    = #9227D5
$rosa    = #FF339A

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i')

ubuntu($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
