.autorizacao
    text-align center
    p
        color $roxo
        ubuntu 24
        width 55%
        margin .5em auto
        +mobile()
            ubuntu 20
            width 100%
        &.spaced
            margin-top 1.2em
        &.erro
            box-shadow 0 0 3px rgba($rosa, .5)
            color #fff
            background $rosa
            border-radius 6px
            padding 10px
            ubuntu 18
            margin-bottom 15px
            +mobile()
                ubuntu 16
        &.enviado
            box-shadow 0 0 3px rgba($roxo, .5)
            color #fff
            background $roxo
            border-radius 6px
            padding 40px
            ubuntu 24
            +mobile()
                ubuntu 20
    input[type='text']
        width 75%
        margin 5px auto
        display block
        background #fff
        border-radius 6px
        ubuntu 20 normal italic
        color $roxo
        border 1px solid #ccc
        outline 0
        padding 6px
        text-align center
        +mobile()
            width 100%
        &.erro
            box-shadow 0 0 3px rgba($rosa, .5)
            border 1px solid $rosa
    input[type='submit']
        display inline-block
        ubuntu 24 bold italic
        background $roxo
        color $laranja
        border-radius 6px
        text-decoration none
        text-transform uppercase
        padding 16px 36px
        margin-top .8em
        transition background .3s, color .3s
        border 3px solid $roxo
        outline 0
        &:hover
            background transparent
            color $roxo
        +mobile()
            display block
            width 100%
            font-size 20px
            margin-top 5%
