@keyframes bounce
    0%, 100%
        transform rotate(90deg) translateX(0)
    50%
        transform rotate(90deg) translateX(-15px)

body.home
    background $rosa

.convite-overlay
    position fixed
    background #fff
    top 0
    left 0
    bottom 0
    right 0
    width 100%
    height 100%
    z-index 2

.convite
    position absolute
    z-index 3
    top 0
    left 0
    width 100%
    height auto
    text-align center
    font-size 0
    cursor pointer
    img
        display block
        margin 0 auto 30px
        max-width 100%
        +mobile()
            margin-bottom 15px
    .seta
        display inline-block
        ubuntu 72
        transform rotate(90deg)
        color $rosa
        line-height 1
        animation bounce 1s infinite
        +mobile()
            font-size 48px

.banner-home
    position absolute
    top 15px
    left 0
    width 100%
    height auto
    z-index -1
    +mobile()
        position relative
        top -35px
    &:after
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 300px
        background-image linear-gradient(180deg, $rosa 0%, $rosa 40%, transparent 100%)
        z-index 101
        +mobile()
            height 60px
    img
        display block
        width 100%
        max-width 980px
        margin 0 auto

.banners-slides
    width 100%
    max-width 980px
    margin 0 auto
