.saude
    text-align center
    > a
        display inline-block
        ubuntu 24 bold italic
        background $roxo
        color $laranja
        border-radius 6px
        text-decoration none
        text-transform uppercase
        padding 16px 36px
        margin-top .8em
        transition background .3s, color .3s
        border 3px solid $roxo
        &:hover
            background #fff
            color $roxo
        +mobile()
            display block
            font-size 20px
            margin-top 0
    p
        ubuntu 24
        color $roxo
        width 75%
        margin 1.5em auto
        line-height 1.3
        +below($tablet)
            width 100%
        +mobile()
            ubuntu 16
            margin 1.2em auto
        a
            display block
            line-height 1.5
            text-decoration none
            color $roxo
            font-weight 700
            font-style italic
            &:hover
                text-decoration underline
        &:last-of-type
            margin-bottom .3em
    ul
        list-style-type none
        margin-top 0
        padding 0
        text-align center
        ubuntu 24
        color $roxo
        line-height 1.3
        +mobile()
            ubuntu 16
        span
            font-weight 700
